html,
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(#f4b2c7, #31029e);
}
.div {
  background-color: rgb(242, 255, 0);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
